<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cross Mingle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>59E9DF7A1C06549F00990F50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59E9DF8E1C06549F00990F50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59E9DF991C0654A000990F50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
